*{
    margin: 0;
    padding: 0;
     box-sizing: border-box; 
    font-family: 'Josefin Sans',sans-serif;
    background-attachment: fixed;
    
}

header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url(name.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 0 ;
}

/* navbar starts */

nav{
    width: 100%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo{
    width: 15%;
    text-align:center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    
}

nav .menu{
    width: 40%;
    display: flex;
    
    justify-content: space-around;
}

nav .menu a {

    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 20px 0px;
    margin: 0px 20px;
    display: flex;
    position: relative;
    opacity: 0.75;    
}



nav .menu a:first-child{
    
    color: #00b894;
}

.nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: teal;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  
  .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
  
  .nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
  }
  
  .nav-link-grow-up:hover::before {
    height: 5px;
  }

/* navbar ends */

main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}



section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

section h1{
    margin: 30px 0 20px 0;
    font-size: 45px;
    font-weight: 500;
    text-shadow: 2px 1px 5px cyan;
    text-transform: uppercase;
}

section p{
    font-size: 25px;
    color: #eee;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px teal;
}

/*main anchor tag*/

section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;

}

section .btnone{
    background: #fff;
    color: #000;
}

.btnone:hover{
    background: #00b894;
    color: white;
}


section .btntwo{
    background: #00b894;
    color: white;
}

.btntwo:hover{
    background: #fff;
    color: #000;
}

.change_content::after{
    content: '';
    animation: changetext 10s infinite linear;
    color: #00b894;
}

@keyframes changetext{
    0%{content: "Demon Slayer";}
    20%{content: "Attack on Titan";}
    35%{content: "One Piece";}
    60%{content: "Jujutsu Kaisen";}
    80%{content: "Tokyo Revengers";}
    100%{content: "Suzume";}
}

